- var profileImage = twoArticles[0].writerId.profileImageUrl || '/image/avatar.png';
div.uk-card.uk-width-2-5
  div(uk-scrollspy='cls: uk-animation-slide-left; repeat: false')
    img.list-img(src=twoArticles[0].heroImageUrl uk-img).grid-card-constraint
    a(href="/article/" + twoArticles[0]._id)
      .overlay-primary.uk-position-cover
      .uk-overlay.uk-light.uk-position-bottom
        h3(style='margin-bottom: 5px !important')= twoArticles[0].title
        a.list-user-info.uk-flex.uk-flex-middle(href="/user/" + twoArticles[0].writerId._id)
          img.list-user-img(src=profileImage)
          .white-font(style='display: inline-block; margin-left: 10px;')
            p(style='margin: 0; font-size: 0.9em') #{twoArticles[0].writerId.email.split('@')[0]}
            p(style='margin: 0; font-size: 0.7em')= twoArticles[0].createdAt.toString().split(' ').slice(1,4).join('-')

if twoArticles[1]
  - var profileImage = twoArticles[1].writerId.profileImageUrl || '/image/avatar.png';
  div.uk-card.uk-width-3-5
    div(uk-scrollspy='cls: uk-animation-slide-right; repeat: false')
      img.list-img(src=twoArticles[1].heroImageUrl uk-img).grid-card-constraint
      a(href="/article/" + twoArticles[1]._id)
        .overlay-primary.uk-position-cover
        .uk-overlay.uk-light.uk-position-bottom
          h3(style='margin-bottom: 5px !important')= twoArticles[1].title
          a.list-user-info.uk-flex.uk-flex-middle(href="/user/" + twoArticles[0].writerId._id)
            img.list-user-img(src=profileImage)
            .white-font(style='display: inline-block; margin-left: 10px;')
              p(style='margin: 0; font-size: 0.9em') #{twoArticles[1].writerId.email.split('@')[0]}
              p(style='margin: 0; font-size: 0.7em')= twoArticles[1].createdAt.toString().split(' ').slice(1,4).join('-')
