- for (let i = 0; i < comments.length; ++i ) {
  - const comment = comments[i];
  - const avatarImgSrc = comment.writerId.profileImageUrl || '/image/avatar.png' ;
  .uk-comment.uk-comment-primary.comment-border.comment-card
    if user && user.id == comment.writerId._id
      .uk-flex.uk-flex-right(style='position: relative')
        i.remove-comment-btn(uk-icon="close" style='position: absolute; top: -15px; right: -15px')
          input.comment-id(type='hidden' value=comment._id)
    .uk-comment-header.uk-grid-medium.uk-flex-middle(uk-grid='')
      .uk-width-auto
        img.uk-comment-avatar(src=avatarImgSrc, width='80', height='80', alt='')
      .uk-width-expand
        h4.uk-comment-title.uk-margin-remove
          a.uk-link-reset(href='#')= comment.writerId.email.split('@')[0]
        ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
          li
            span= comment.createdAt.toString().split(' ').slice(1,4).join('-')
          //- li
          //-   a(href='#') Reply
      .uk-flex-right
        if user
          if likedComment[i]
            i.comment-like-btn.like-toggle-off.fas.fa-heart.fa-lg
              input.comment-id(type='hidden' value=comment._id)
          else
            i.comment-like-btn.like-toggle-on.far.fa-heart.fa-lg 
              input.comment-id(type='hidden' value=comment._id)
        else
            i.fas.fa-heart.fa-lg(disabled='' style='color: gray;')
    .uk-comment-body
      p= comment.content
- }
